<h3>Edit listing</h3>
<%= form_for @listing do |f| %>
  <%= f.hidden_field :user_id, value: @current_user.id %>
<p class="instructional-text-large">Listing Details</p>
  <div class="form-group">
  	<p class="instructional-text-medium">Title</p>
    <%= f.text_field :title, required: true %>
  </div>
  <div class="form-group"> 
    <p class="instructional-text-medium">Produce Category</p>
    <%= f.select :produce_category, Listing.produce_categories, required: true %>
  <div class="form-group"> 	
  	<p class="instructional-text-medium">Quantity</p>
    <%= f.text_area :quantity, placeholder: "How much produce would you like to donate? ex. 7 pints of strawberries, one dozen bell peppers, 20lb case fingerling potatoes",required: true %>
  </div>
  <div class="form-group">
  	<p class="instructional-text-medium">Description (optional)</p>
    <%= f.text_area :description, placeholder: "Include a brief description of produce donation here" %>
  </div>
  <div class="form-group">
    <p class="instructional-text-medium">Upload a photo of your produce! (optional)</p>
    <%= f.file_field :avatar %>
  </div>
<p class="instructional-text-large">Pickup Details</p>
<p class="instructional-text-medium">Let users know where they will be picking up!</p>
<p class="instructional-text-medium" style="color: red"><i>City is required</i></p>
  <div class="form-group">
   	<p class="instructional-text-medium">Address</p>
	<%= f.text_field :address_line1 %>
  </div>
  <div class="form-group">
  <%= f.text_field :address_line2 %>
  </div>
  <div class="form-group">
    <p class="instructional-text-medium">City</p>
  <%= f.text_field :city, required: true %>
  </div>
  <div class="form-group">
    <p class="instructional-text-medium">State</p>
  <%= f.text_field :state %>
  </div>
  <div class="form-group">
    <p class="instructional-text-medium">Zip Code</p>
  <%= f.text_field :zip %>
  </div>
  <div class="form-group">
    <p class="instructional-text-medium">Phone Number</p>
  <%= f.text_field :phone %>
  </div>
  <p class="instructional-text-medium">How do you want users to contact you?</p>
    <div class="form-group">
    <span class="instructional-text-medium">Prefer Phone</span>
  <%= f.check_box :prefers_phone %>
  </div>
    <div class="form-group">
    <span class="instructional-text-medium">Prefer Email</span>
  <%= f.check_box :prefers_email %>
  </div>
  <%= f.submit "Edit Listing" %>
<% end %> 

<% if @listing.persisted? %>
    <%= button_to "Delete Listing", "/listings/#{@listing.id}", method: "delete", confirm: "Are you sure you want to delete this listing?" %>
<% end %>