<div class="listing-form-div">
<h3 class="header-text-md">Create a new listing</h3>
<br>
<%= form_for @listing do |f| %>
  <%= f.hidden_field :user_id, value: @current_user.id %>
  <div class="form-group">
  	<div class="instructional-text-md">Title</div>
    <%= f.text_field :title, required: true %>
  </div>
  <div class="form-group"> 
    <div class="instructional-text-md">Produce Category</div>
    <%= f.select :produce_category, Listing.produce_categories, required: true %>
  <div class="form-group"> 	
  	<div class="instructional-text-md">Quantity</div>
    <%= f.text_area :quantity, placeholder: "How much produce would you like to donate? ex. 7 pints of strawberries, one dozen bell peppers, 20lb case fingerling potatoes",required: true %>
  </div>
  <div class="form-group">
  	<div class="instructional-text-md">Description (optional)</div>
    <%= f.text_area :description, placeholder: "Include a brief description of produce donation here" %>
  </div>
  <div class="form-group">
    <div class="instructional-text-md">Upload a photo of your produce! (optional)</div>
    <%= f.file_field :avatar %>
  </div>
<div class="instructional-text-large">Pickup Details</div>
<div class="instructional-text-md">Let users know where they will be picking up!</div>
<div class="instructional-text-md" style="color: red"><i>City is required</i></div>
  <div class="form-group">
   	<div class="instructional-text-md">Address</div>
	<%= f.text_field :address_line1 %>
  </div>
  <div class="form-group">
  <%= f.text_field :address_line2 %>
  </div>
  <div class="form-group">
    <div class="instructional-text-md">City</div>
  <%= f.text_field :city, required: true %>
  </div>
  <div class="form-group">
    <div class="instructional-text-md">State</div>
  <%= f.text_field :state %>
  </div>
  <div class="form-group">
    <div class="instructional-text-md">Zip Code</div>
  <%= f.text_field :zip %>
  </div>
  <div class="form-group">
    <div class="instructional-text-md">Phone Number</div>
  <%= f.text_field :phone %>
  </div>
  <div class="instructional-text-md">How do you want users to contact you?</div>
    <div class="form-group">
    <span class="instructional-text-md">Prefer Phone</span>
  <%= f.check_box :prefers_phone %>
  </div>
    <div class="form-group">
    <span class="instructional-text-md">Prefer Email</span>
  <%= f.check_box :prefers_email %>
  </div>
  <%= f.submit "Create Listing" %>
<% end %> 
</div>