<div class="listing-showpage col-md-8 col-md-offset-2">

<div class="showpage-listing-details">
	<div class="showpage-listing-pic">
		<%= image_tag(@listing.avatar.url(:medium)) %>
	</div>
	<div class="showpage-listing-details-text">
		<h3 class="header-text-md"><%= @listing.title %></h3>
		<p class="instructional-text-sm">Listing created <%= time_ago_in_words(@listing.created_at.in_time_zone('Eastern Time (US & Canada)')) %> ago</p>
		<p class="instructional-text-md">Quantity: <%= @listing.quantity %></p>
		<p class="instructional-text-md">Category: <%= @listing.produce_category %><br>Description: <%= @listing.description %><br>
		</p>
	</div>
</div>
<div class="listing-pickup-details">
	<div class="owner-details-text">
		<h3 class="instructional-text-lg">	Owner: <%= @listing.user.username %>
		</h3>
		<p class="instructional-text-md" style="color: gray">Email: <%= @listing.user.email %>
		<br><%= @listing.address_line1 %> 
		<span><%= @listing.address_line2 %></span>
		<br><%= @listing.city %>
		<br><%= @listing.state %>
		<br><%= @listing.zip %></p>
		<p class="instructional-text-sm" style="color: red">
			<% if @listing.prefers_email %>
				<i>Owner prefers email correspondance</i><br>
			<% end %>
			<% if @listing.prefers_phone %>
				<i>Owner prefers phone correspondance</i>
				<br>
				<%= @listing.phone %>
			<% end %>
		</p>
		<div id="listing-showpage-buttons">
	<% if @current_user == @listing.user %>
		<div class="left-button">
			<%= button_to "Edit Listing", "/listings/#{@listing.id}/edit", method: "get", class: "btn btn-default" %>
		</div>
		<div class="right-button">
			<%= button_to "Delete Listing", "/listings/#{@listing.id}", method: "delete", class: "btn btn-default" %>
		</div>
	<% else %>
 		<div class="left-button">
<!-- 			<%= button_to "Email Owner", "#", class: "btn btn-default"%> -->
			<%= mail_to @listing.user.email, "Email Owner", subject: "Someone has messaged you from Love at First Bite!", class: "btn btn-default"%>
		</div>
		<div class="right-button">
			<%= button_to "See Owner's Other Listings", "/users/#{@listing.user.id.to_s}", method: "get", class: "btn btn-default" %>
		</div>
	<% end %>
</div>
	</div>
	<div class="owner-profile-pic">
		<%= image_tag(@listing.user.avatar.url(:medium)) %>
	</div>
</div>


</div>