<div id="edit-profile-div">
<% if current_user %>
  <h2 class="header-text-md">Edit your profile details</h2>
  <br>
  <%= form_for @user do |f| %>
    <div class="form-group">
    	<span class="instructional-text-md">Username</span>
    	<br>
      <%= f.text_field :username, required: true %>
    </div>
    <div class="form-group"> 	
    	<span class="instructional-text-md">Email</span>
    	<br>
      <%= f.text_field :email, required: true %>
    </div>
    <div class="form-group">
     	<span class="instructional-text-md">Upload a Custom Avatar (optional)</span>
    	<br>
      <br>
    <%= f.file_field :avatar %>
    </div>
    <br>
    <%= f.submit "Save Changes to Profile", class: "btn btn-default"%>
  <% end %>
  <br>
  <h3 id="delete-account-header">Click to delete your account</h3>
  <p class="instructional-text-md" style="color: red">Warning! Clicking this button will permanently erase your profile and all of your listings.</p>
  <%= button_to "Delete", "/users/#{@user.id}", method: :delete, data: {confirm: 'Are you sure you want to delete your account?', disable_with: "loading..."}, class: "btn btn-danger" %>
<% end %>
</div>