<% if current_user %>
  <h2>Edit your profile details</h2>
  <%= form_for @user do |f| %>
    <div class="form-group">
    	<span>Username</span>
    	<br>
      <%= f.text_field :username, required: true %>
    </div>
    <div class="form-group"> 	
    	<span>Email</span>
    	<br>
      <%= f.text_field :email, required: true %>
    </div>
    <div class="form-group">
     	<span>Upload a Custom Avatar (optional)</span>
    	<br>
    <%= f.file_field :avatar %>
    </div>
    <%= f.submit "Save Changes to Profile" %>
  <% end %>

  <h3>Click to delete your account</h3>
  <p class="instructional-text" style="color: red">Warning! Clicking this button will permanently erase your profile and all of your listings.</p>
  <%= button_to "Delete", "/users/#{@user.id}", method: :delete, data: {confirm: 'Are you sure you want to delete your account?', disable_with: "loading..."} %>
<% end %>