<div class="form-div">
<h3 class="text-center header-text-sm">SIGN UP</h3>
<%= form_for @user do |f| %>
  <div class="form-group">
  	<span class="instructional-text-md">Username</span>
  	<br>
    <%= f.text_field :username, required: true %>
  </div>
  <div class="form-group"> 	
  	<span class="instructional-text-md">Email</span>
  	<br>
    <%= f.text_field :email, required: true %>
  </div>
  <div class="form-group">
  	<span class="instructional-text-md">Password</span>
  	<br>
    <%= f.password_field :password, required: true %>
  </div>
  <div class="form-group">
   	<span class="instructional-text-md">Password Confirmation</span>
  	<br>
	<%= f.password_field :password, required: true %>
  </div>
  <%= f.submit "Sign Up", class: "btn btn-default btn-lg" %>
  <br><br>
  <p class="instructional-text-sm">Already have an account? <a href="/sign_in" class="signup-link">Log in here</a>.</p>
<% end %> 
</div>