<nav class="navbar">
	<ul>
		<li><%= link_to "SiteName", "/", method: "get" %></li>
		<li><%= link_to "About", "/home/about", method: "get" %></li>
		<li><%= link_to "FAQ", "/home/faq", method: "get" %></li>
		<li><%= link_to "Browse Produce Listings", "#", method: "get" %></li>		
		<li><a href="#">My Profile</a>
			<ul>
				<li><%= link_to "View My Profile", "/users/#{@current_user.id}", method: "get" %></li>
				<li><%= link_to "Manage My Listings", "#", method: "get" %></li>
				<li><%= link_to "Edit My Profile", "/users/#{@current_user.id}/edit", method: "get" %></li>
			</ul>
		</li>
		<li><%= link_to "Sign Out", "/sessions", method: "delete" %></li>
	</ul>
</nav>