<!DOCTYPE html>
<html>
<head>
  <title>ProduceProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
	<% if current_user %>
		<%= render "loggedin_navbar" %>
	<% else %>
		<%= render "loggedout_navbar" %>
	<% end %>
<%= yield %>
</body>
</html>
